.note-container{
height: 100%;
}
.note-container h1,h2{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 25px;
}
.note-container h1{
    text-decoration: underline;
}
.note-container_notes{
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
}